---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
	filterByLanguage,
	getAllPosts,
	sortMDByDate,
	sortMDByPinned,
} from "@/utils";
import type { CollectionEntry } from "astro:content";


const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage = filterByLanguage(allPostsByPinned, "en");

const tech: Array<{ title: string; desc: string; href: string }> = [
{
		title: "Openode.xyz",
		desc: "Our Community",
		href: "https://openode.xyz",
	}
];
---

<BaseLayout title="Home">
	<header>
		
	  </header>
	<section class="mt-8 sm:mt-16">
		<h2 class="title">About NeoNode</h2>
	
		<p class="mb-4 sm:mb-8">
			<strong>NeoNode</strong> is a dynamic project aimed at providing useful articles, scripts, and unique IT solutions for a wide audience. We are developing our blog, open forum, and <a href="https://t.me/neonode_cc" target="_blank" class="cody-link">Telegram channel</a>, where we share experiences, developments, and valuable resources.
		  </p>
		  <p class="mb-4 sm:mb-8">
			The project is focused on expanding its audience by offering articles in multiple languages and hosting its own <a href="https://t.me/+cFdHT8DiMUA2MWVi" target="_blank" class="cody-link">Telegram community</a>.
			<br />
			Also, follow the <a href="https://t.me/neonode_cc" target="_blank" class="cody-link">NeoNode.cc Telegram channel</a>.
		  </p>
		  <p class="mb-4 sm:mb-8">
			Join NeoNode and stay updated on our latest developments, including support for <a href="https://openode.xyz" target="_blank" class="cody-link">Openode.xyz</a>.
		  </p>
		  <div>
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Articles</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				filteredPostsByLanguage.map((p) => (
					<PostPreview post={p as CollectionEntry<"blog">} />
				))
			}
		</ul>
	</section>

	<section class="mt-16">
		<h2 class="title">Useful Links</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				tech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cody-link inline-block"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
