---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
	filterByLanguage,
	getAllPosts,
	sortMDByDate,
	sortMDByPinned,
} from "@/utils";
import type { CollectionEntry } from "astro:content";


const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage = filterByLanguage(allPostsByPinned, "en").slice(0, MAX_POSTS);

const tech: Array<{ title: string; desc: string; href: string }> = [
{
		title: "Openode.xyz",
		desc: "Our Community",
		href: "https://openode.xyz",
	}
];
---

<BaseLayout title="Home">
	<header>
		
	  </header>
	<section class="mt-8 sm:mt-16">
		<h2 class="title">About NeoNode</h2>
	
		<p class="mb-4 sm:mb-8">
			<strong>NeoNode.cc</strong> is a blog that will no longer be updated. All new articles, useful information, and materials are now published on the <a href="https://gig.ovh" target="_blank" class="cody-link">GIG.ovh forum</a>.
		  </p>
		  <p class="mb-4 sm:mb-8">
			This website remains available for reading archived materials. For current information and participation in discussions, please visit our forum.
			<br />
			Also, follow the <a href="https://t.me/neonode_cc" target="_blank" class="cody-link">NeoNode.cc Telegram channel</a>.
		  </p>
		  <p class="mb-4 sm:mb-8">
			Join our community on <a href="https://gig.ovh" target="_blank" class="cody-link">GIG.ovh</a> for fresh content and support.
		  </p>
		  <div>
			<span>You can find me on: </span>
			<SocialMediaLinks/>
		</div>
		<p><br /><b><a href="https://neonode.cc/ru">Сайт доступен на русском</a></b></p>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Articles</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				filteredPostsByLanguage.map((p) => (
					<PostPreview post={p as CollectionEntry<"blog">} />
				))
			}
		</ul>
	</section>

	<section class="mt-16">
		<h2 class="title">Useful Links</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				tech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cody-link inline-block"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>
