---
import { DEFAULT_LANG } from "src/consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/{DEFAULT_LANG}/" />
    <script>
      window.location.replace("/{DEFAULT_LANG}/");
    </script>
  </head>
  <body>
    <p>Redirecting...</p>
  </body>
</html>