---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
	filterByLanguage,
	getAllPosts,
	sortMDByDate,
	sortMDByPinned,
} from "@/utils";
import type { CollectionEntry } from "astro:content";

type BlogOrProjectEntry = CollectionEntry<"blog"> | CollectionEntry<"project">;




const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage: BlogOrProjectEntry[] = filterByLanguage(allPostsByPinned, "ru");

const tech: Array<{ title: string; desc: string; href: string }> = [
{
		title: "Openode.xyz",
		desc: "Наше сообщество",
		href: "https://openode.xyz",
	}
];
---

<BaseLayout title="Главная">
	<header>
		
	  </header>
	<section class="mt-8 sm:mt-16">
		<h2 class="title">О проекте NeoNode</h2>
		<p class="mb-4 sm:mb-8">
			<strong>NeoNode</strong> — это динамичный проект, нацеленный на предоставление полезных статей, скриптов и уникальных ИТ-решений для широкого круга пользователей. Мы развиваем наш блог, открытый форум, и <a href="https://t.me/neonode_cc" target="_blank" class="cody-link">Telegram-канал</a>, где делимся опытом, наработками и полезными материалами.
		</p>
		<p class="mb-4 sm:mb-8">
			Проект ориентирован на расширение аудитории, предлагая статьи на нескольких языках и имея собственный <a href="https://t.me/+cFdHT8DiMUA2MWVi" target="_blank" class="cody-link">Telegram-community</a>.
			<br />
			Также подписывайтесь на <a href="https://t.me/neonode_cc" target="_blank" class="cody-link">Telegram канал NeoNode.cc</a>.
		</p>
		<p class="mb-4 sm:mb-8">
			Присоединяйтесь к NeoNode и следите за новостями о наших последних разработках, включая поддержку <a href="https://openode.xyz" target="_blank" class="cody-link">Openode.xyz</a>.
		</p>
		<div>
			<span>Найти меня можно здесь: </span>
			<SocialMediaLinks/>
		</div>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Статьи</h2>
		<ul class="space-y-4 sm:space-y-2">
			{filteredPostsByLanguage.map((p: BlogOrProjectEntry) => <PostPreview post={p} />)}

		</ul>
	</section>

	<section class="mt-16">
			<h2 class="title">Полезные ссылки</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					tech.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cody-link inline-block"
							>
								{title}
							</a>: 
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
</BaseLayout>