---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
	filterByLanguage,
	getAllPosts,
	sortMDByDate,
	sortMDByPinned,
} from "@/utils";
import type { CollectionEntry } from "astro:content";


const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage = filterByLanguage(allPostsByPinned, "ru").slice(0, MAX_POSTS);

const tech: Array<{ title: string; desc: string; href: string }> = [
{
		title: "Openode.xyz",
		desc: "Наше сообщество",
		href: "https://openode.xyz",
	}
];
---

<BaseLayout title="Главная">
	<header>
		
	  </header>
	<section class="mt-8 sm:mt-16">
		<h2 class="title">О проекте NeoNode</h2>
		<p class="mb-4 sm:mb-8">
			<strong>NeoNode.cc</strong> — блог, который больше не будет обновляться. Все новые статьи, полезная информация и материалы теперь публикуются на <a href="https://gig.ovh" target="_blank" class="cody-link">форуме GIG.ovh</a>.
		</p>
		<p class="mb-4 sm:mb-8">
			Данный сайт остается доступным для чтения архивных материалов. Для получения актуальной информации и участия в обсуждениях переходите на форум.
			<br />
			Также следите за новостями в <a href="https://t.me/neonode_cc" target="_blank" class="cody-link">Telegram канале NeoNode.cc</a>.
		</p>
		<p class="mb-4 sm:mb-8">
			Присоединяйтесь к нашему сообществу на <a href="https://gig.ovh" target="_blank" class="cody-link">GIG.ovh</a> для получения свежих материалов и поддержки.
		</p>
		<div>
			<span>Найти меня можно здесь: </span>
			<SocialMediaLinks/>
		</div>
		<p><br /><b><a href="https://neonode.cc/en">Site is able on English</a></b></p>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Статьи</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				filteredPostsByLanguage.map((p) => (
					<PostPreview post={p as CollectionEntry<"blog">} />
				))
			}
		</ul>
	</section>

	<section class="mt-16">
			<h2 class="title">Полезные ссылки</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					tech.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								target="_blank"
								rel="noopener noreferrer"
								class="cody-link inline-block"
							>
								{title}
							</a>: 
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</section>
</BaseLayout>