---
import {
    getLangFromUrl,
    getLocalizedUrl,
    type SupportedLanguage,
} from "src/utils/i18n";

// Определяем текущий язык
let currentLanguage = getLangFromUrl(Astro.url) ?? 'ru';

// Определяем целевой язык
const targetLanguage = currentLanguage === 'en' ? 'ru' : 'en';

// Текст для ссылки
const languageText = currentLanguage === 'en' ? 'Читать на Русском' : 'Read in English';

// Генерация URL для целевого языка
const localizedUrl = getLocalizedUrl(Astro.url, targetLanguage as SupportedLanguage);
---

<div>
    <a href={localizedUrl}>{languageText}</a>
</div>
