---
import {
    getLangFromUrl,
    getLocalizedUrl,
    type SupportedLanguage,
} from "src/utils/i18n";

// Определяем текущий язык
let currentLanguage = getLangFromUrl(Astro.url) ?? 'ru';

// Определяем целевой язык
const targetLanguage = currentLanguage === 'en' ? 'ru' : 'en';

// Текст для ссылки
const languageText = currentLanguage === 'en' ? 'Читать на Русском' : 'Read in English';

// Генерация URL для целевого языка
const localizedUrl = getLocalizedUrl(Astro.url, targetLanguage as SupportedLanguage);
---

<div class="language-switcher">
  <a href={localizedUrl}>{languageText}</a>
</div>

<style>
  .language-switcher a {
      padding: 0.5em 1em; /* Отступы */
      border-radius: 8px; /* Округлые края */
      font-weight: bold;
      text-decoration: none; /* Убираем подчеркивание */
      border: 1px solid; /* Граница будет адаптироваться к теме */
      transition: background-color 0.3s ease, color 0.3s ease;
  }

  /* Светлая тема */
  @media (prefers-color-scheme: light) {
      .language-switcher a {
          background-color: #f2f2f2; /* Светлый фон */
          color: #333; /* Основной цвет текста */
          border-color: #ddd; /* Тонкая граница */
      }

      .language-switcher a:hover {
          background-color: #e0e0e0; /* Фон при наведении */
          color: #000; /* Тёмнее текст при наведении */
      }
  }

  /* Темная тема */
  @media (prefers-color-scheme: dark) {
      .language-switcher a {
          background-color: #333; /* Темный фон */
          color: #f2f2f2; /* Светлый цвет текста */
          border-color: #444; /* Граница немного светлее фона */
      }

      .language-switcher a:hover {
          background-color: #444; /* Светлее фон при наведении */
          color: #fff; /* Белый текст при наведении */
      }
  }
</style>
